# Titulo 
## Subtitulo 2
### Subtitulo 3

- Uno
- Dos
- Tres




1. Lunes
2. Martes
3. Miercoles

#### Codigo

Este es mi codigo:

```javascript
var nombre = "Adrian Eguez";
```

In [1]:
print("Hola mundo")

Hola mundo

In [3]:
# Comentario
# shift + enter = nueva linea
"""
PARA COMENTARIOS MAS LARGOS
"""
print("Hola python")

Hola python

In [4]:
edad = 31 # Numero Int
nombre = "Adrian"
hijos = None # null en otros lenguajes
costo = 1.25 # Float
casado = False # boolean  False True

In [5]:
nombre

'Adrian'

In [7]:
print(type(edad))
print(type(nombre))
print(type(hijos))
print(type(costo))
print(type(casado))

<class 'int'>
<class 'str'>
<class 'NoneType'>
<class 'float'>
<class 'bool'>

In [9]:
variable_poderosa = 1
variable_poderosa = 1.2
variable_poderosa = "Vicente"
variable_poderosa = True
variable_poderosa = None
variable_poderosa = False

In [2]:
# Truty Falsy
# (true false) variable == null 

condicion = 10 < 2 # False
condicion = 2 <= 2 # True
"""
condicion = 2 < 2 and 3 > 1 # True si todas cumplen
"""
condicion = (2 < 2) or (3 > 1) # True
condicion

True

In [9]:
condicion = "" # Falsy
if(condicion):
    print("Si")
else:
    print("No")

No

In [ ]:
condicion = "Adrian" # Truty
if(condicion):
    print("Si")
else:
    print("No")

In [4]:
condicion = 0 # Falsy
if(condicion):
    print("Si")
else:
    print("No")

No

In [ ]:
condicion = -1 # Truty
if(condicion):
    print("Si")
else:
    print("No")

In [ ]:
condicion = 1 # Truty
if(condicion):
    print("Si")
else:
    print("No")

In [5]:
condicion = None # Falsy
if(condicion):
    print("Si")
else:
    print("No")

No

In [42]:
lista = [1,2,3,4,5]
print(type(lista))
print(lista)

<class 'list'>
[1, 2, 3, 4, 5]

In [12]:
tupla = (1,2,3,4,5)
print(type(tupla))
print(tupla)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [16]:
# condicion = [] # Falsy
# condicion = () # Falsy
# condicion = [1] # Truty
# condicion = (1) # Truty
if(condicion):
    print("Si")
else:
    print("No")

Si

In [43]:
# listas editables
# Tuplas read only
lista.append(6)
lista.append(7)
lista.append(8)
lista

[1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
lista[0]

1

In [19]:
tupla[0]

1

In [20]:
len(lista)

8

In [21]:
len(tupla)

5

In [35]:
lista.append(9)
lista

[1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 9, 9, 9, 9, 9, 9]

In [36]:
len(lista)

16

In [49]:
# Iteracion
lista = [1,2,3,4,5]
for numero in lista:
    # print("Numero: " + str(numero))
    print(f"Numero: {numero}")

Numero: 1
Numero: 2
Numero: 3
Numero: 4
Numero: 5

In [48]:
for numero in tupla:
    variable_algo = "Vicente"
    print(f"Numero: {numero} {numero} {variable_algo}")

Numero: 1 1 Vicente
Numero: 2 2 Vicente
Numero: 3 3 Vicente
Numero: 4 4 Vicente
Numero: 5 5 Vicente

In [58]:
# Slices
lista = [1,2,3,4,5,6,7,8]
# lista = ['a','b','c','d','e','f','g','h']
lista[0:3] # [0, 3[
# [1,2,3,4,5,6,7,8]
#  0,1,2,3,4,5,6,7

[1, 2, 3]

In [55]:
lista[-2] # Negativos (Desde final hacia el principio)

7

In [56]:
lista[-3:-1] # [-3, -1[

[6, 7]

In [59]:
lista[4:] # Hasta el final

[5, 6, 7, 8]

In [60]:
lista

[1, 2, 3, 4, 5, 6, 7, 8]

In [61]:
lista[:6] # Desde el principio

[1, 2, 3, 4, 5, 6]

In [62]:
lista[:]

[1, 2, 3, 4, 5, 6, 7, 8]

In [63]:
lista[-4:7] # desde indice -4
# [1 ,2 ,3 ,4 ,5 ,6 ,7 ,8]
#  0 ,1 ,2 ,3 ,4 ,5 ,6 ,7
#  -8,-7,-6,-5,-4,-3,-2,-1

[5, 6, 7]

In [64]:
# Diccionarios JSON

In [68]:
diccionario = {
    "llave": "valor",
    "nombre": "Adrian",
    "apellido": "Eguez",
    "edad": 31,
    "casado": None,
    "hijos": (),
    "nietos": [],
    "mascotas": {
        "nombres": ["cachetes", "pequi", "panda"]
    },
}
diccionario

{'llave': 'valor',
 'nombre': 'Adrian',
 'apellido': 'Eguez',
 'edad': 31,
 'casado': None,
 'hijos': (),
 'nietos': [],
 'mascotas': {'nombres': ['cachetes', 'pequi', 'panda']}}

In [69]:
diccionario["edad"]

31

In [70]:
diccionario.keys()

dict_keys(['llave', 'nombre', 'apellido', 'edad', 'casado', 'hijos', 'nietos', 'mascotas'])

In [71]:
diccionario.values()

dict_values(['valor', 'Adrian', 'Eguez', 31, None, (), [], {'nombres': ['cachetes', 'pequi', 'panda']}])

In [72]:
if({}): # Falsy
    print("Si")
else:
    print("no")

no

In [73]:
if(diccionario): # Truty
    print("Si")
else:
    print("no")

Si