# Titulo 
## Subtitulo 2
### Subtitulo 3

- Uno
- Dos
- Tres




1. Lunes
2. Martes
3. Miercoles

#### Codigo

Este es mi codigo:

```javascript
var nombre = "Adrian Eguez";
```

In [1]:
print("Hola mundo")

Hola mundo

In [3]:
# Comentario
# shift + enter = nueva linea
"""
PARA COMENTARIOS MAS LARGOS
"""
print("Hola python")

Hola python

In [4]:
edad = 31 # Numero Int
nombre = "Adrian"
hijos = None # null en otros lenguajes
costo = 1.25 # Float
casado = False # boolean  False True

In [5]:
nombre

'Adrian'

In [7]:
print(type(edad))
print(type(nombre))
print(type(hijos))
print(type(costo))
print(type(casado))

<class 'int'>
<class 'str'>
<class 'NoneType'>
<class 'float'>
<class 'bool'>

In [ ]:
variable_poderosa = 1
variable_poderosa = 1.2
variable_poderosa = "Vicente"
variable_poderosa = True
variable_poderosa = None
variable_poderosa = False